@model Carisma.Models.Podrska

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Podrska</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pitanje" class="control-label"></label>
                <input asp-for="Pitanje" class="form-control" />
                <span asp-validation-for="Pitanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumPostavljanja" class="control-label"></label>
                <input asp-for="DatumPostavljanja" class="form-control" />
                <span asp-validation-for="DatumPostavljanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odgovor" class="control-label"></label>
                <input asp-for="Odgovor" class="form-control" />
                <span asp-validation-for="Odgovor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumOdgovora" class="control-label"></label>
                <input asp-for="DatumOdgovora" class="form-control" />
                <span asp-validation-for="DatumOdgovora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
