@model Carisma.Models.Osoba

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Osoba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lozinka" class="control-label"></label>
                <input asp-for="lozinka" class="form-control" />
                <span asp-validation-for="lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="broj_telefona" class="control-label"></label>
                <input asp-for="broj_telefona" class="form-control" />
                <span asp-validation-for="broj_telefona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnicko_ime" class="control-label"></label>
                <input asp-for="korisnicko_ime" class="form-control" />
                <span asp-validation-for="korisnicko_ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uloga" class="control-label"></label>
                <input asp-for="uloga" class="form-control" />
                <span asp-validation-for="uloga" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="blokiran" /> @Html.DisplayNameFor(model => model.blokiran)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
