@model Carisma.Models.Rezervacija

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="datumPocetka" class="control-label"></label>
                <input asp-for="datumPocetka" class="form-control" />
                <span asp-validation-for="datumPocetka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumZavrsetka" class="control-label"></label>
                <input asp-for="datumZavrsetka" class="form-control" />
                <span asp-validation-for="datumZavrsetka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumRezervacije" class="control-label"></label>
                <input asp-for="datumRezervacije" class="form-control" />
                <span asp-validation-for="datumRezervacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label"></label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <select asp-for="korisnikId" class="form-control" asp-items="ViewBag.korisnikId"></select>
                <span asp-validation-for="korisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="voziloId" class="control-label"></label>
                <select asp-for="voziloId" class="form-control" asp-items="ViewBag.voziloId"></select>
                <span asp-validation-for="voziloId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
