@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center">Carisma - Rent a Car</h1>

<div style="height: 20em; overflow: hidden">
    <img src="~/images/rentacar-2.png" style="width: 70%; display: block; margin: 0 auto; object-fit: cover;">
</div>

<h3 style="margin-top: 3%">Vaša pouzdana aplikacija za iznajmljivanje vozila</h3>

<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
    <b>
        Carisma je web-aplikacija namjenjena za brzo i jednostavno iznajmljivanje vozila.
        <br>
        Putem aplikacije korisnici mogu jednostavno izvršiti registraciju, rezervisati vozilo, izvršiti online uplatu i pratiti stanje svog korisničkog naloga.
        <br>
        Započnite svoju vožnju sa Carismom danas!
    </b>
</div>